@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");
@font-face {
  font-family: "Franklin Gothic Book";
  src: url("/public/Franklin Gothic Book Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Franklin Gothic Medium";
  src: url("/public/Franklin Gothic Medium Regular.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --inter-medium-16: Inter;
  --font-franklin-gothic-book: "Franklin Gothic Book";
  --font-franklin-gothic-medium: "Franklin Gothic Medium";
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-xl: 20px;
  --inter-medium-16-size: 16px;
  --text-xs-regular-size: 12px;
  --subtitle-subtitle-2-size: 18px;
  --heading-h2-size: 48px;
  --heading-h4-size: 28px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-45xl: 64px;
  --font-size-5xl: 24px;
  --font-size-sm: 14px;

  /* Colors */
  --nft-app-white: #fff;
  --color-cornflowerblue-100: #1da1f2;
  --primary-blue: #029cf5;
  --color-dodgerblue: #3b95ff;
  --color-black: #000;
  --color-mediumslateblue: #4c5ff9;
  --color-maroon: #840707;
  --grey-600: #718096;
  --color-slategray-100: #636c80;
  --color-lightsteelblue-100: #b9c1fe;
  --grey-500: #a0aec0;
  --color-lightsteelblue-200: #93a9c3;
  --color-gray-100: #888;
  --color-gray-200: #222;
  --text-black: #131516;
  --color-gray-300: rgba(30, 30, 30, 0.04);
  --blackalpha-500: rgba(0, 0, 0, 0.36);
  --color-gray-400: rgba(255, 255, 255, 0.4);
  --color-gray-500: rgba(255, 255, 255, 0.82);
  --color-gray-800: rgba(0, 0, 0, 0.3);
  --color-gray-600: rgba(0, 0, 0, 0.01);
  --color-gray-700: rgba(0, 0, 0, 0.98);
  --color-gray-900: rgba(255, 255, 255, 0.3);
  --grey-700: #4a5568;
  --color-dimgray-100: #4d4d4d;
  --color-tomato-100: #fa3c32;
  --color-tomato-200: rgba(250, 60, 50, 0.99);
  --color-tomato-300: rgba(250, 60, 50, 0.3);
  --grey-200: #d4ddea;
  --grey-100: #f5f7fa;
  --color-aliceblue: #e2e8f0;
  --primary-dark-blue: #162ba9;
  --green-3: #6fcf97;
  --color-pink: #ffc4c4;
  --color-plum: #ffbae3;
  --color-gainsboro-100: rgba(217, 217, 217, 0.4);
  --gray-700: #2d3748;
  --color-orangered: #ff4500;
  --color-mediumspringgreen: #25d366;
  --color-royalblue: #1877f2;

  /* Gaps */
  --gap-xs: 12px;
  --gap-5xl: 24px;
  --gap-mini: 15px;
  --gap-25xl: 44px;
  --gap-5xs: 8px;
  --gap-29xl: 48px;
  --gap-141xl: 160px;
  --gap-11xl: 30px;
  --gap-base: 16px;
  --gap-21xl: 40px;
  --gap-lg: 18px;
  --gap-9xs: 4px;
  --gap-3xs: 10px;
  --gap-11xs: 2px;
  --gap-13xl: 32px;
  --gap-2xs: 11px;
  --gap-17xl: 36px;
  --gap-16xl: 35px;
  --gap-856xl: 875px;
  --gap-sm: 14px;
  --gap-23xl: 42px;
  --gap-7xs: 6px;
  --gap-137xl: 156px;

  /* Paddings */
  --padding-17xl: 36px;
  --padding-25xl: 44px;
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-21xl: 40px;
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-4xs: 9px;
  --padding-sm: 14px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;
  --padding-29xl: 48px;
  --padding-31xl: 50px;
  --padding-81xl: 100px;
  --padding-2xs: 11px;

  /* border radiuses */
  --br-31xl: 50px;
  --br-29xl: 48px;
  --br-5xs: 8px;
  --br-8xs: 5px;
  --br-xs: 12px;
  --br-23xl: 42px;
  --br-81xl: 100px;
  --br-base: 16px;
  --br-mini: 15px;
  --br-9xs: 4px;
}
